@import url('https://fonts.googleapis.com/css?family=Merriweather:300');
//font-family: 'Merriweather', serif;
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
//font-family: 'Archivo Narrow', sans-serif;

$mainFont: 'Merriweather', serif;
$narrowFont: 'Archivo Narrow', sans-serif;
$mustardYellow: #D8B264;
$whiteColor: #fff;
$darkGrey: #454B49;

// $themeColor-Light: #f3e2c7;
// $themeColor-Dark:#b68d4c;
// $theme-font: verdana, sans-serif;
//
// body {
//   font: $theme-font;
//   background-color: $themeColor-Light;
//   h1, h2, h3 {
//     color: $themeColor-Dark
//   }

//Set Document Font Size with Percentages
//Only Modify font-size from the Lowest Parent
//Use rem for Padding & Margin in Grids and Lists
//Avoid px in Child Elements, use em, rem, percentages, or viewport units (vw) whenever possible.
//1em = 16px, and 2em = 32px.

* {
  margin:0;
  padding:0;
}

body {
  margin: 100px;
  font-family: $mainFont;
  font-size: 100%;
  max-width: 1700px;
}

.banner {
  // max-width: 1500px;
  height: 400px;
  overflow: hidden;
  display: flex;
  // flex-direction: column;
  align-items: center;
  margin: auto;
}

.banner img {
  width:100%;
  flex-shrink: 0;
}

.form {
  position: relative;
  padding:1rem;
  font-family: $mainFont;
}

.select {
  color: #ffffff;
  padding: 1em 2em;
  // border: 1em solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.nav-hamburger {
  position: fixed;
  padding-top: 50px;
  top: 0;
  left: 1;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/*navbar*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: -webkit-linear-gradient(bottom, $mustardYellow, #e8e8e8);
  background-image: -moz-linear-gradient(bottom, $mustardYellow, #e8e8e8);
  background-image: -o-linear-gradient(bottom, $mustardYellow, #e8e8e8);
  background-image: -ms-linear-gradient(bottom, $mustardYellow, #e8e8e8);
  background-image: linear-gradient(bottom, $mustardYellow, #e5d1d0);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  opacity: 40.5px;
  font-family: $narrowFont;
  line-height: 50px;
}

.sidenav a {
  padding: 8px 8px 8px 35px;
  text-decoration: none;
  font-size: 25px;
  color: $whiteColor;
  display: block;
  transition: 0.5s;
}

.about:hover, .contact:hover, .amenities:hover {
  color: $darkGrey;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 60px;
  margin-left: 50px;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 2em;
}

.copy {
  padding-top: 3em;
  font-size: 1.1em;
}

// @media screen and (max-width) {
//   .banner {
//
//   }
// }
